body {
    background-color: orange
}

.start_button {
    position: absolute;
    top: 50%;
    left: 38%;
}

/**Styling the button**/
.start_button button {
    font-size: 50px;
    padding: 25px;
    border:5px;
    border-radius: 10px;
    background-color: rgb(91, 148, 233);
    color: white;
}

.start_button button:hover {
    background: rgb(47, 83, 138);
    color: white;
}